*{
    padding: 0px;
    margin: 0px;
}
.get{
    text-align: center;
        background-image: url("shelf.webp");
        background-size: cover;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100vh;
}
